
///////COLORS//////////////
$color-primary: #fbfbfb;
$color-secondary: #aaaaaa;


*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  background-color: #fbfbfb;
  font-size: 62.5%;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
///////////////Universal Styles///////////////////////


.logo {
  text-decoration: none;
  color: black;  

  &__strong {
    font-size: 7rem;
  }
  &__small {
    font-size: 4rem;
  }
}
.logo:hover {
  color: #957b5f;
  transition: all .2s;
}

////////////headings////////////
.heading {

  &__primary {
    text-decoration: none;
    color: black;
    font-weight: 300;
    font-size: 6rem;
    flex: .25 0 0;
    padding: 0 1rem 0 0;
  }
  &__secondary {
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: 5rem;
    flex: .25 0 0;
    padding: 0 1rem 0 0;
  }
  &__tertiary {
    text-decoration: none;
    color: #957b5f;
    font-weight: 600;
    font-size: 5rem;
    flex: .25 0 0;
    padding: 0 1rem 0 0;
  }
}
/////////videos/////////////////
// .bg-video {
//   position: absolute;
//   top:0;
//   left:0;
//   height: 100%;
//   width: 100%;
//   z-index: -1;
//   opacity: .85;
//   overflow: hidden;

//   &__content {
//       height: 100%;
//       width: 100%;
//       object-fit: cover;
//       //allows for images to cover or fit over parent elements. fill fits things, but not the aspect ratio
//   }
// }

/////////buttons////////////////
.btn {
  &,
  &:link,
  &:visited {
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    padding: .5rem 1rem;
    position: relative;
    backface-visibility: hidden;
    background-color: transparent;
    color: black;
    text-decoration: none;
    font-size: 3rem;
    font-weight: 300;
    border: 1px solid black;
    transition: all .5s ease;
    background-size: 100% 200%;
    background-image: linear-gradient(to top, black 50%, transparent 50%);
  }
}
.btn-small {
  &,
  &:link,
  &:visited {
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    padding: .2rem .5rem;
    position: relative;
    backface-visibility: hidden;
    background-color: transparent;
    color: #957b5f;
    text-decoration: none;
    font-size: 2rem;
    font-weight: 300;
    min-width: 100px;
    border: 1px solid #957b5f;
    transition: all .5s ease;
    background-size: 100% 200%;
    background-image: linear-gradient(to top, #957b5f 50%, transparent 50%);
    margin: 1rem 0;
  }
}
.btn:hover {
  background-position: 0 100%;
  color: #ffffff;
}
.btn-main {
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: black;
  font-size: 3rem;
}
//for cool underliny effect
.btn-main::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  -webkit-transform-origin: right center;
  -ms-transform-origin: right center;
  transform-origin: right center;
  height: 1px;
  background: #000000;
  -webkit-transform: scale(0, 1);
  -ms-transform: scale(0, 1);
  transform: scale(0, 1);
  -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-main:hover::before {
  transform-origin: left center;
  transform: scale(1, 1);
}

/////////margins///////////////
.mgn-vert-small {
  margin: 1rem auto !important;
}
.mgn-vert-med {
  margin: 2rem auto !important;
}
.mgn-vert-lg {
  margin: 4rem auto !important;
}


//////sections / colors / spacing ///////////////////
// #e0ebe8
//#45b29a
//#58d6b9
//#7dcc93
//#2b3d51
//#f76160
//#374760
//#31355b
//#f8c687
//#708c90
//#104148
//#005361
//#21364b
//#fae298
//#37b0e9
//#e29470
//#ce672d
//#69a8d3
//#a8d7f9
//#679895
//#5d8986
//
//#2b2b2b
//#957b5f
.section {
  width: 100%;
  height: 75vh;
  
  &--projects {
    background-color: #2b2b2b;
  }
  &--quote {
    height: 45vh;
    background-color: transparent;
    position: relative;
  }
  &--about {
    height: 75vh;
    // text-align: left;
    
  }
}

.line {

  &__small {
    width: 40px;
    display: block;
    border-bottom: 4px solid #957b5f;
    padding: 0;
  }
  &__med {
    width: 50%;
    display: block;
    border-bottom: 4px solid #957b5f;
    padding: 0;
  }
  &__lg {
    width: 85%;
    content: "";
    display: block;
    margin: 0 auto;
    border-bottom: 1px solid #aaaaaa;
    padding: 2rem 0;
  }
}

/////////////////parallax styles////////////////////
.parallax {
  
  &__h-lg {
    position: relative;
    height: 30rem;
  }
  &__title {
    padding: 0;
    margin: 0;
    // height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(50%);
  }
}







