.header {
    height: 5rem;
    width: 100%;
    background-color: rgba(lightgrey, .75);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    position: fixed;
    top: 0;
    

    &__links {
        display: flex;
        flex-direction: row;
    }
    &__link,
    &__link>h4{
        text-decoration: none;
        color: black;
        font-weight: 100;
        font-size: 1.5rem;
        flex: .25 0 0;
        padding: 0 1rem 3px 0;
    }
    
}
.header > .logo {
    margin-left: 2rem;
}