.home {
    // height: 90vh;
    width: 100%;
    background-color: #fbfbfb;
    margin-top: 10rem;
    
    
    &__line {
        width: 85%;
        content: "";
        display: block;
        margin: 0 auto;
        border-bottom: 1px solid #aaaaaa;
        padding: 2rem 0;
    }

    &__nav {
        display: flex;
        justify-content: space-around;
        align-items: flex-end;
        
    }
    &__landing {
        position: relative;
    }
    &__title {
        text-decoration: none;
        color: black;
        font-weight: 100;
        position: absolute;
        top: 45%;
        left: 45%;

        &--strong {
            font-size: 8rem;
        }
        &--small {
            font-size: 4rem;
        }
    }

    
    &__image {
        width: 100%;
        padding: 0 2.5rem 0 2.5rem;
    }
}

// .home__nav:not(:first-child) {
//     justify-items: flex-end;
// }